
/*** FILTERS STYLES ***/

    /* allowing filter field to grow if selections are long */
    .all-documents-search .filter-field {
        height: auto;
    }

    /* restyling dropdown & dropdown arrow to stay in place even if field height grows */
    .all-documents-search .filter-field  {
        position:  relative;
        padding: 5px 20px 5px 5px;
    }
    .all-documents-search .filter-field::after {
        position: absolute;
        top:  0;
        right: 5px;
        margin-top:  0;
        padding-left:  0;
    }

    /* hide/show expanded filters dropdown */
    .all-documents-search .filters-dropdown-wrapper {
        display: none;
    }
    .all-documents-search .filters-dropdown-wrapper.is-open {
        display: block;
    }

    /* reapplying existing style to new elements */
    .all-documents-search .dropdown li {
        display: block;
        color: #2c2825;
        outline: none;
    }
    .all-documents-search .dropdown li:hover {
        background-color: #2c2825;
        color: #fff;
    }
    .all-documents-search .dropdown dd .multiSelect {
        position: absolute;
        top: 2px;
        left: 0px;
        background: white;
        border: 1px solid #000;
        width: 600px;
        height: auto;
        padding: 5px;
        overflow: visible;
        z-index: 9;
    }

    /* adding some pointers to clickable elements */
    .all-documents-search .filter-field {
        cursor:  pointer;
    }


/*** PAGINATION STYLES ***/

    /* make div inline (previously didn't have a div wrapper) */
    .all-documents-search .pagination {
        display: inline;
    }

    /* make pagination links blue to differentiate current page (which is black)
       NOTE: previously only blue on hover
    */
    .all-documents-search .pnlGroup a {
        color: #3979A6;
    }

    /* normalize spacing between pagination span and links */
    .all-documents-search .pnlGroup .current-page {
        padding: 0 10px;
    }

/*** ADD/REMOVE COUNTRY ARTICLE ***/
    .add-remove-country .notes {
        margin-bottom: 30px;
    }

    .add-remove-country .alert {
        color: red;
    }

    .add-remove-country .imf-country-tag-form {
        margin-bottom: 40px;
    }

    .add-remove-country .articles-preview {
        margin-bottom: 40px;
    }

    .add-remove-country .articles-preview .article:not(:last-of-type) {
        margin-bottom: 20px;
    }
